<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - JeffSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="container">
            <nav class="imageBG"></nav>
            <nav class="navbar navbar-expand-lg navbar-dark" id="navPersonal">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="logoImage"></div>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item" id="firstLiNavbar">
                            <a class="nav-link" href="#">BIO COMPLETA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOJA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CANTINHO DO LEITOR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">CONTATO</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            <div class="socialMidia">
                <div class="titleSocialMidia">REDES SOCIAIS</div>
                <div id="socialMidiaDiv">
                    <ul id="SocialMidia">
                        <li><img src="../img/instagram.png" class="iconsSocialMidia"></li>
                        <li><img src="../img/twitter.png" class="iconsSocialMidia"></li>
                        <li><img src="../img/facebook.png" class="iconsSocialMidia"></li>
                        <li><img src="../img/goodreads.png" class="iconsSocialMidia"></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
