@model User
@{
    Layout = "_LayoutLogin";
}

<div class="container">
    <form asp-controller="Admin" asp-action="ChangePassword">
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" placeholder="Senha" name="pass">
            <span asp-validation-for="pass" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}