@model User
@{
    Layout = "_LayoutAdmin";
}

<div class="container">
    <form asp-controller="Admin" asp-action="ChangePassword" method="POST">
        <input type="hidden" asp-for="UserName">
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" placeholder="Senha" asp-for="Pass">
            <span asp-validation-for="Pass" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Alterar</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}