@model User
@{
    Layout = "_LayoutLogin";
    string user = "";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-danger" role="alert">
        <b>Erro: </b>@TempData["message"].ToString()
    </div>
    if(TempData["user"] != null){
        user = TempData["user"].ToString();
    }
}


<div class="container">
    <form method="post" asp-action="ValidateUser" asp-controller="Admin">
        <div class="form-group">
            <label for="exampleInputEmail1">Usuario</label>
            <input type="text" class="form-control" placeholder="Digite o usuario" name="user" value="@user">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" placeholder="Digite a senha" name="pass">
        </div>
        <button type="submit" class="btn btn-primary">Logar</button>
    </form>
</div>